.bodyz {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    color: black;
    font-size: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.welcome-text {
    animation: fadeOut 5s ease-in-out forwards;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 1;
    animation: fadeOut 5s ease-in-out forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}