body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    position: relative;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

h1 {
    font-size: 2em;
}

main {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 80vh;
    position: relative;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(4, 1fr); /* 4 rows */
    gap: 10px;
    max-width: 900px; /* Adjust the max width as needed */
    padding: 20px;
    margin: auto;
}

.product {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.product h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.product p {
    font-size: 1.2em;
    margin: 5px 0;
}

button.add-to-cart {
    background-color: #0074d9;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.2s;
}

button.add-to-cart:hover {
    background-color: #0056b3;
}

.cart {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 300px;
    position: fixed;
    top: 55px;
    right: 20px;
    transition: box-shadow 0.8s;
}

.cart:hover {
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5); /* Add a glow effect on hover */
}

.cart h2 {
    font-size: 1.5em;
    margin: 0;
}

#cart-items {
    list-style: none;
    padding: 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f7f7f7;
}

button.remove-from-cart {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 0.9em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s;
}

button.remove-from-cart:hover {
    background-color: #c9302c;
}
.product-link {
    text-decoration: none; /* Remove underlines from links */
    color: inherit; /* Inherit text color */
}