body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
    position: relative;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

h1 {
    font-size: 2em;
}

main {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 80vh;
    position: relative;
}

.product-container {
    display: grid; 
    gap: 10px;
    max-width: 900px; 
    padding: 20px;
    margin: auto;
}

.product {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.product h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.product p {
    font-size: 1.2em;
    margin: 5px 0;
}

button.add-to-cart {
    background-color: #0074d9;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.2s;
}

button.add-to-cart:hover {
    background-color: #0056b3;
}

.cart {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 300px;
    position: fixed;
    top: 55px;
    right: 20px;
    transition: box-shadow 0.8s;
}

.cart:hover {
    box-shadow: 0 0 10px rgba(14, 62, 255, 0.5); 
}

.cart h2 {
    font-size: 1.5em;
    margin: 0;
}

#cart-items {
    list-style: none;
    padding: 0;
}
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}




.cart-item span {
    margin-right: 10px;
}

.remove-from-cart {
    background-color: #ff5252;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.remove-from-cart:hover {
    background-color: #ff0000;
} 



.cart-item {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f7f7f7;
}

button.remove-from-cart {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 0.9em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s;
}

button.remove-from-cart:hover {
    background-color: #c9302c;
}

.purchase-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.purchase-button:hover {
    background-color: #0056b3;
}

.product-link {
    text-decoration: none; 
    color: inherit; 
}
img{
    outline: none;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
}

.nav-list li {
    text-align: center;
}

.nav-list a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s;
}

.nav-list a:hover {
    color: #3029ff; 
}

.paddingheader{
    padding-top: 40px;
}

@media (max-width: 767px) {
    .product {
        width: 100%;
        flex: 0 0 100%;
    }

    .cart {
        top: 90px; 
        right: 10px;
    }
}
.dalkar_3{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    }

    @media screen and (min-width: 400px) {
        .dalkar_3 {
            grid-template-columns: 1fr;
        }
    }
    
    @media screen and (min-width: 760px) {
        .dalkar_3 {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    
    @media screen and (min-width: 960px) {
        .dalkar_3 {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    
    @media screen and (min-width: 1280px) {
        .dalkar_3 {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    
    @media screen and (max-width: 1420px) {
        .dalkar_4 {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }



    .navbar {
        background-color: #333;
        color: white;
        padding: 10px 0;
        text-align: center;
    }

    .nav-list {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 0;
    }

    .nav-list li {
        text-align: center;
    }

    .nav-list a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 1.2em;
        transition: color 0.3s;
    }

    .nav-list a:hover {
        color: #3029ff;
    }


    @media screen and (max-width: 768px) {
        .nav-list {
            display: none;
            flex-direction: column;
            text-align: left;
            width: 100%;
            position: absolute;
            top: 60px;
            left: 0;
            background-color: #333;
        }

        .navbar.show .nav-list {
            display: flex;
        }

        .nav-list li {
            width: 100%;
            text-align: center;
        }

        .menu-toggle {
            display: block;
            cursor: pointer;
            background-color: #333;
            color: #fff;
            border: none;
            padding: 10px;
            font-size: 1.2em;
            text-align: left;
        }
    }

    .menu-toggle {
        display: none;
    }

    @media screen and (max-width: 768px) {
        .menu-toggle {
            display: block;
        }
    }



    .footer {
        background-color: #333;
        color: #fff;
        padding: 20px 0;
        text-align: center;
    }
    
    @media (max-width: 768px) {
        .footer {
            padding: 10px 0;
        }
    }
    
    .footer a {
        color: #fff;
        text-decoration: none;
    }
    
    .footer a:hover {
        text-decoration: underline;
    }
    
    @media (max-width: 768px) {
        .footer p {
            text-align: center;
        }
    }
    .checkout-logo {
        width: 80px; 
        height: auto;
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 999;
        cursor: pointer;
    }
    
    .confirmation-dialog {
        display: none;
        position: fixed;
        bottom: 100px;
        right: 20px;
        background-color: #fff;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        z-index: 999;
    }

    .confirmation-dialog .message {
        margin-bottom: 15px;
    }

    .confirmation-dialog button {
        padding: 8px;
        margin-right: 10px;
        cursor: pointer;
    }
    

    .color-selection {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #333;
        cursor: pointer;
    }
    
    .confirmation-dialog-box {
        background-color: #fff;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    
    .confirmation-dialog .message {
        margin-bottom: 15px;
    }
    
    .confirmation-dialog .buttons-container button {
        padding: 8px;
        margin-right: 10px;
        cursor: pointer;
    }