main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #ffffff;
}

.p1{
    color: #fff;
}


p {
    line-height: 1.6;
    color: #000000;
}

.container {
    max-width: 600px;
    margin: auto;
}

a{
    color: black;
    text-decoration: underline;
}


.team-text {
    cursor: pointer;
    padding: 10px;
    background-color: #000;
    color: #fff;
    text-align: center;
}

.team-names {
    display: none;
    flex-direction: column;
    align-items: center;
}

.team-text {
    cursor: pointer;
    margin-bottom: 10px;
}

.member {
    cursor: pointer;
    margin-bottom: 5px;
    color: #000000;
    font-size: medium;
    margin-bottom: 10px;
    margin-top: 10px;
}

.member-info {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}

.member-info.active {
    max-height: 200px; /* Adjust the height as needed */
}

  .member:hover {
    color: #FF4081; /* Change color on hover */
    font-size: 20px; /* Change font size on hover */
  }



.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

@media (max-width: 768px) {
    .footer {
        padding: 10px 0;
    }
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .footer p {
        text-align: center;
    }
}


span{
    padding-left: 4em;
    padding-right: 4em;
}

.essential_annoucement_running_line_wrapper_cdb7e78c-ab26-487e-95af-e0f22ccffa02 {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.essential_annoucement_bar_running_line_title_cdb7e78c-ab26-487e-95af-e0f22ccffa02 {
  display: inline-block;
  animation: scrollText 50s linear infinite;
}

@keyframes scrollText {
  0% {
    transform: translateX(90%);
  }

  100% {
    transform: translateX(-100%);
  }
}
  